


@Html.Partial("~/Views/Navbar/Navbar.cshtml")



<section class="text-center mt-5 d-flex align-items-center justify-content-center">

    <button class="btn btn-warning rounded-5 shadow">
        <div class="text-white fw-bold fs-4 px-4 ">prev</div>
        <img src="~/Images/nextArrow.svg" />
    </button>

    <span class="display-1 fw-bolder mx-3 primary-text-color text-shadow">15</span>
    

    <button class="btn btn-info rounded-5 shadow ">
        <div class="text-white fw-bold fs-4 px-4 ">next</div>
        <img src="~/Images/prevArrow.svg" />
    </button>

</section>

<div class="container mt-4 d-flex justify-content-center">
  <div class="p-3 bg-transparent rounded shadow" style="max-width: 600px; width: 100%;">
    <div class="row g-3 text-center">
      <!-- Each button takes 6 columns on small screens (2 per row), 4 on larger (3 per row) -->
      <div class="col-6 col-sm-4">
          <button class="btn btn-info text-white fw-bold ">

              <img src="~/Images/appointement.png" style="width: 60px; display: block; height: 60px; margin: auto;" />
              <span>Appointement</span>
   
          </button>
      </div>
      <div class="col-6 col-sm-4">
        <button class="btn btn-info text-white fw-bold">Session</button>
      </div>
      <div class="col-6 col-sm-4">
        <button class="btn btn-info text-white fw-bold">Reports</button>
      </div>
      <div class="col-6 col-sm-4">
        <button class="btn btn-info text-white fw-bold">Button 4</button>
      </div>
      <div class="col-6 col-sm-4">
        <button class="btn btn-info text-white fw-bold">Button 5</button>
      </div>
      <div class="col-6 col-sm-4">
        <button class="btn btn-info text-white fw-bold">Button 6</button>
      </div>
    </div>
  </div>
</div>

